*.pyc
*/*.pyc
**/*.pyc
.project
.pydevproject
*/.project
*/.pydevproject
env/
venv/
/.settings/
*.cnf
*.log
*.prefs
*/*.prefs
**/*.prefs
.idea
*/.idea
*.sqlite
database_data/
calipsoplus/settings_*.py
