from calipsoplus.settings import *

# Whitelist your deployment server
ALLOWED_HOSTS = ['calipsobackend.domain.tld']
CORS_ORIGIN_WHITELIST = ['calipsobackend.domain.tld']

DJANGO_ENV = 'LOCAL'

# Override database connections to use sqlite
DATABASES['default'] = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': ':memory:'
    },    
}

# Logs
LOGGING['loggers']['apprest']['handlers'] = ['console']

TESTING_MODE = True

# Docker daemon location, replace this with your own server
DOCKER_URL_DAEMON = "tcp://dockerhost.domain.tld:port"
REMOTE_MACHINE_IP = "dockerhost.domain.tld"

# Location of backend (eg.: https://calipsobackend.domain.tld)
BACKEND_CALIPSO = 

# Location of frontend (eg.: https://calipsofrontend.domain.tld))
FRONTEND_CALIPSO = 

# Umbrella logout endpoint (should point to a Shibboleth IDP and have a return argument to point to the frontend)
UMBRELLA_LOGOUT = BACKEND_CALIPSO + "/Shibboleth.sso/Logout?return=" + FRONTEND_CALIPSO

# Umbrella login endpoint
UMBRELLA_LOGIN = BACKEND_CALIPSO + "/Shibboleth.sso/Login?target=" + BACKEND_CALIPSO + "/calipsoplus-services/umbrella/frontend/"

# User Office backend API login (check API.md)
BACKEND_UO_LOGIN =
BACKEND_UO_HASH =
BACKEND_UO_IS_STAFF =

# Endpoint to the information provider (ignore if Dynamic Data Retrieval is not enabled). Check API.md.
# Example: "https://data.domain.tld/services/experiments/$USERNAME/" 
# N.B.: $USERNAME is replaced by the application with the account name.
DYNAMIC_EXPERIMENTS_DATA_RETRIEVAL_ENDPOINT =
